POSTGRES_HOST=seu_host
POSTGRES_PORT=5432
POSTGRES_DB=seu_banco
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
LOG_LEVEL=INFO
CAMINHO_ARQUIVO=./data/MimicOrganization.ndjson.gz
CAMINHO_ARQUIVO_LOCATION=./data/MimicLocation.ndjson.gz
